.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1311px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 52px 315px 0 355px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  width: 992px;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 226px;
  margin: 15px auto 0 336px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  letter-spacing: normal;
  margin: -79px 229px 0 auto;
  padding: 7px 8px 8px;
}

.u-section-1 .u-icon-1 {
  height: 60px;
  width: 60px;
  margin: -126px 249px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 106px 390px 0 377px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 372px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 228px;
  height: 222px;
  margin: -6px auto 0 345px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  margin: -68px 249px 0 auto;
  padding: 7px 8px 8px;
}

.u-section-1 .u-icon-2 {
  height: 60px;
  width: 60px;
  margin: -123px 269px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 97px 324px -6px 310px;
}

.u-section-1 .u-icon-3 {
  height: 179px;
  width: 179px;
  margin: 222px auto 0 -11px;
}

.u-section-1 .u-image-3 {
  width: 226px;
  height: 226px;
  margin: -367px auto 60px -11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -33px;
    margin-right: 260px;
    margin-left: 255px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 434px;
    width: 940px;
    margin-top: 153px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
    text-transform: none;
    border-style: none none solid;
    font-size: 1.5rem;
    margin-top: -103px;
    margin-right: 182px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 76px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -33px;
    margin-right: 159px;
    margin-left: 146px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -13px;
    margin-left: 177px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 223px;
  }

  .u-section-1 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: -127px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 311px;
    margin-bottom: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -619px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -151px;
    margin-right: 199px;
    margin-left: 145px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 271px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 108px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 104px;
    margin-left: 111px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 67px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 256px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -600px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1507px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 687px;
    margin-right: 149px;
    margin-left: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 646px;
    width: 540px;
    margin-top: -567px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 169px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 32px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -582px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 213px;
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 411px;
    width: 340px;
    margin-top: -80px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 93px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -26px;
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 156px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -619px;
  }
}