.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1586px;
}

.u-section-1 .u-gallery-1 {
  height: 1027px;
  width: 1027px;
  margin: 72px auto 60px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  width: 103px;
  height: 103px;
  background-image: none;
  left: 18px;
  top: 482px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 103px;
  height: 103px;
  background-image: none;
  left: auto;
  top: 482px;
  right: 7px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    height: 1028px;
    width: 990px;
    margin-top: 249px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    height: 855px;
    width: 785px;
    margin-top: 90px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 33px;
    width: 83px;
    height: 83px;
    top: 367px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 83px;
    height: 83px;
    top: 367px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    height: 638px;
    width: 555px;
    margin: 1021px -7px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    height: 433px;
    width: 358px;
    margin-top: 1124px;
    margin-right: auto;
    margin-left: -17px;
  }

  .u-section-1 .u-carousel-thumbnails-1 {
    height: 110px;
  }
}